* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: brown;
}
#container {
    max-width: 80%;
    margin: 0 auto;
}
.boxInput {
    margin: 0 auto;
    max-width: 90%;
    height: 280px;
    background-color: white;
    border: 3px solid black;
    padding: 5px;
}
input {
    margin: 10px;
    padding: 3px;
}
.boxOutput {
    margin: 0 auto;
    max-width: 90%;
    height: 280px;
    background-color: white;
    border: 3px solid black;
    margin-top: 150px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;}
.none {
        display: none;

}
.imgTreno {
    width: 200px;
    height: 200px;
    border-radius: 70px;
    margin-top: 10px;
    display: inline;
    border: 2px solid #A5292A;
}
.bottone {
    margin: 0 auto;
    padding: 10px;
    margin-top: 30px;
    border-radius: 100px;
    background-color: chocolate;

}
.titolo {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 100px;
    background-color: white;
}
.mioForm {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.botAquista {
    margin-top: 30px;
    padding: 10px;
    border-radius: 100px;
    background-color: chocolate;
}
.outputNominativo {
    margin-bottom: 20px;
    font-size: 30px;
}